/*Big tablet to 1200px (width smaller than the 1140px row)  */
@media only screen and (max-width: 1200px) {
  html {
    font-size: 64.5%;
  }
  .between {
    font-size: 1.5rem;
  }
}

/*from small tablets to big tablets from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  html {
    font-size: 40.5%;
  }
  h1 {
    font-size: 5rem;
  }
  .between {
    font-size: 1.7rem;
    top: 4rem;
  }
}
/*from small phones to small tablets from 481px to 767px */
@media only screen and (max-width: 767px) {
}
/*for small phones from 0 to 480px */
@media only screen and (max-width: 480px) {
}
